
<app-navbar></app-navbar>  
<div class="jumbotron">
  <div class="container">
    <h5 class="display-4">Phoenix Taekwondo Academy</h5>
    <p>Voted Ottawa's Premiere Martial arts School
       Phoenix Taekwondo Academy is an internationally acclaimed School of Martial Arts<br>
       and is the premier Taekwondo Martial Arts Academy located in Ottawa, Canada's National Capital. <br>
       Our academy is a family-based educational institution centered on strong values and morals.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
